.bx--list-box__field .bx--text-input {
  padding-right: 4.5rem;
}

.cv-data-table-row-inner .cv-checkbox.bx--checkbox-wrapper {
  margin: 0;
}

.cv-dropdown-item.bx--list-box__menu-item--highlighted + .bx--dropdown-item .bx--dropdown-link {
  border-top-color: transparent;
}

.cv-file-uploader .bx--file__state-container {
  align-items: center;
}

.cv-file-uploader .cv-loading {
  position: absolute;
  width: 1rem;
  height: 1rem;
  margin: -0.25rem;
}

.cv-file-uploader .bx--inline-loading__animation {
  width: 1rem;
  height: 1rem;
  margin-right: 0;
}

.cv-file-uploader .bx--file__drop-container {
  position: relative;
}

.cv-modal .bx--modal-close__icon {
  pointer-events: none;
}

.cv-multi-select.bx--multi-select--filterable .bx--list-box__selection--multi {
  margin: 0;
}

.cv-search .bx--search-magnifier {
  pointer-events: none;
}
@media screen and (max-width: 41.95rem) {
  .cv-tabs .bx--tabs-trigger {
    display: block;
    padding: 0;
  }

  .cv-tabs .bx--tabs-trigger .cv-dropdown__arrow {
    width: auto;
    height: auto;
  }
}

.cv-side-nav-menu .cv-side-nav-menu__chevron-svg {
  will-change: auto !important;
}
