{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browserslist": ["last 2 versions", "ie >= 10"]
        }
      }
    ]
  ],
  "plugins": ["transform-object-rest-spread"]
}
