$css--font-face: true;
$css--helpers: true;
$css--use-layer: true;
$css--body: true;
$css--reset: true;
$css--typography: true;
$css--plex: true;

$feature-flags: (
  ui-shell: true,
);

@import '~carbon-components/scss/globals/scss/styles.scss';
