$feature-flags: (
  ui-shell: true,
  enable-css-custom-properties: true,
);

// Use the white as default theme
@import '~@carbon/themes/scss';
$carbon--theme: $carbon--theme--white;

// Themes
.carbon-theme--white {
  @include carbon--theme($theme: $carbon--theme--white, $emit-custom-properties: true);
}

.carbon-theme--g10 {
  @include carbon--theme($theme: $carbon--theme--g10, $emit-custom-properties: true);
}

.carbon-theme--g90 {
  @include carbon--theme($theme: $carbon--theme--g90, $emit-custom-properties: true);
}

.carbon-theme--g100 {
  @include carbon--theme($theme: $carbon--theme--g100, $emit-custom-properties: true);
}

@import '~carbon-components/scss/globals/scss/vendor/@carbon/type/scss/font-family';
@import '~carbon-components/scss/globals/scss/vendor/@carbon/layout/scss/breakpoint';
@import '~carbon-components/scss/globals/scss/typography';
@import '~carbon-components/scss/globals/scss/vars';

@import '~carbon-components/scss/globals/scss/styles';
