$css--body: false; // we're providing our own body styles
$css--reset: false; // prevent thousands of resets being included...
$css--font-face: true;

$container-class: 'carbon';

@if map-get($feature-flags, 'components-x') {
  $container-class: 'experimental';
}

.#{$container-class} {
  @import '~carbon-components/scss/globals/scss/styles';
  @import '~carbon-components/scss/globals/scss/css--typography';

  // carbon body reset and styles
  @include typography;
  @include font-family;

  // reset
  box-sizing: border-box;
  background-color: $ui-02;
  color: $text-01;

  /* stylelint-disable-next-line selector-max-type */
  a,
  abbr,
  acronym,
  address,
  applet,
  article,
  aside,
  audio,
  b,
  big,
  blockquote,
  body,
  canvas,
  caption,
  center,
  cite,
  code,
  dd,
  del,
  details,
  dfn,
  div,
  dl,
  dt,
  em,
  embed,
  fieldset,
  figcaption,
  figure,
  footer,
  form,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  header,
  hgroup,
  html,
  i,
  iframe,
  img,
  ins,
  kbd,
  label,
  legend,
  li,
  mark,
  menu,
  nav,
  object,
  ol,
  output,
  p,
  pre,
  q,
  ruby,
  s,
  samp,
  section,
  small,
  span,
  strike,
  strong,
  sub,
  summary,
  sup,
  table,
  tbody,
  td,
  tfoot,
  th,
  thead,
  time,
  tr,
  tt,
  u,
  ul,
  var,
  video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
  }

  @if map-get($feature-flags, 'components-x') {
    line-height: 1;
  }

  * {
    box-sizing: inherit;
  }

  *::before,
  *::after {
    .carbon & {
      // causes problem with checkbox in carbon 10
      box-sizing: inherit;
    }
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
}
