// Use the white as default theme
@use '@carbon/themes/scss/themes';
@use '@carbon/themes/scss/theme';

// Themes
[data-carbon-theme='white'],
.carbon-theme--white {
  @include theme.theme(themes.$white);
}

[data-carbon-theme='g10'],
.carbon-theme--g10 {
  @include theme.theme(themes.$g10);
}

[data-carbon-theme='g90'],
.carbon-theme--g90 {
  @include theme.theme(themes.$g90);
}

[data-carbon-theme='g100'],
.carbon-theme--g100 {
  @include theme.theme(themes.$g100);
}

:root {
  --cds-field: var(--cds-field-01);
}
// set default color and background for stories
.cv-vue-3 {
  padding: var(--cds-layout-04);
  background-color: var(--cds-ui-background);
  color: var(--cds-text-01);
  font-family: 'IBM Plex Sans', 'Helvetica Neue', Arial, sans-serif;

  .v-model-demo {
    margin-top: 1rem;
    background-color: #888888;
    padding: 1rem;
  }
}

/**
  Override used for modals in any .mdx preview block.
  storybook generates preview blocks with a surrounding div with style="position: relative; z-index: 0;"
  this causes style problems for modals when not using react portals.
  modals in mdx files should now be formatted like this to prevent z-index issues
*/
// stylelint-disable-next-line
//.preview-position--fix > div {
//  position: static !important; /* stylelint-disable-line declaration-no-important */
//}
