name: CI

on:
  workflow_dispatch:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: lts/fermium

      - name: Install
        run: yarn --offline

        # yarn build is part of ci-check
        # yarn test is also part of ci-check
      - name: Package CI checks
        run: yarn ci-check

  lint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: lts/fermium

      - name: Install
        run: yarn --offline

      - name: Lint
        run: yarn run lint

